@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Parker Smith's Website";
}


<!--This is the body with info about me and other items-->
<h1>Parker Smith</h1>
<br />
<br />
<h4>I love traveling around the world!</h4>
<p>This is my friend and me in Mexico City at the Teotihuacan Pyramids!</p>
<img src="img/traveling.jpeg" width="500" />
<br />
<br />
<br />
<h4>Most Interesting Jobs to Me!</h4>
<ul>
    <li>Software Developer</li>
    <li>Cloud Developer</li>
    <li>Data Analyst</li>
</ul>
<br />
<br />
<p>
    During this class I hope to learn enough C# to help further my goal of being a weapon in the <br />
    programming world. My goals are to be on top on assignments and not do them the same day they<br />
    are due and be fully prepared to work on the next one during class
</p>
<br />
<br />

